@model DataAccess.Products
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Customer</h2>
@using (Html.BeginForm("Edited", "Product", FormMethod.Post))
{
    @Html.HiddenFor(x => x.ProductID)
    <div class="row">
        <div class="col-md-4">Product Name</div>
        <div class="col-md-8">@Html.EditorFor(x => x.ProductName, null, new { htmlAttributes = new { @class = "form-control" } })</div>

        <div class="col-md-4">Unit Price</div>
        <div class="col-md-8">@Html.EditorFor(x => x.UnitPrice, null, new { htmlAttributes = new { @class = "form-control" } })</div>
    </div>

    <input type="submit" />
}